:root{
    --color-letra:#424242;
    --backround:#ECEFF1;
    --color-nav:#48CFCB;
    --hover:#229799;
    --backround2: #F5F5F5;

  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    color: var(--color-letra);
    background-color: var(--backround);
    padding: 20px;
}

/*MENU DE NAVEGACION*/
nav{
    background-color: var(--color-nav);
    padding: 25px;
    text-align: right;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: large;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin: 0 25px;
}
nav ul li a{
    color: var(--color-letra);
    text-decoration: none;
    font-weight: bold;
   
}
nav ul li a:hover{
    text-decoration: none;
    color: var(--hover);
    padding: 15px 15px;
}
/*HEADER*/
header h1{
    text-align: center;
    margin: 0 auto;
}
.presentacion h1{
    text-align: center;
}
.presentacion{
    margin-top: 20px;
    background-color: var(--hover);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.presentacion img{
    width: 300px;
    height: 500px;
    border-radius: 8px;
    margin-right: 30px;
    background-color: var(--backround2);
    padding: 20px;
    padding-left: 15px;
    box-shadow: 15px var(--color-letra) solid;
}
.presentacion .descripcion{
    max-width: 600px;
    background: var(--backround2);
    border-radius: 8px;
    font-size: large;
    padding: 20px;
    text-align: justify;
}